esp-now/lab/mesh-ldr/node-red-dashboard.json
[
  {
    "id": "tab-espnow",
    "type": "tab",
    "label": "ESP-NOW LDR Lab",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt-broker-1",
    "type": "mqtt-broker",
    "name": "MQTT Broker",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "tls": "",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {}
  },
  {
    "id": "ui-tab-espnow",
    "type": "ui_tab",
    "name": "ESP-NOW LDR Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui-group-espnow",
    "type": "ui_group",
    "name": "LDR Nodes",
    "tab": "ui-tab-espnow",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "mqtt-in-espnow",
    "type": "mqtt in",
    "z": "tab-espnow",
    "name": "ESP-NOW LDR In",
    "topic": "espnow/lab/ldr/#",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-broker-1",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 80,
    "wires": [
      [
        "json-parse",
        "debug-raw"
      ]
    ]
  },
  {
    "id": "json-parse",
    "type": "json",
    "z": "tab-espnow",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 330,
    "y": 80,
    "wires": [
      [
        "function-format",
        "debug-parsed"
      ]
    ]
  },
  {
    "id": "function-format",
    "type": "function",
    "z": "tab-espnow",
    "name": "Format LDR for UI",
    "func": "let nodeId     = msg.payload.nodeId;\nlet ldrRaw     = msg.payload.ldrRaw;\nlet ldrPercent = msg.payload.ldrPercent;\nlet counter    = msg.payload.counter;\n\n// For text widget\nmsg.payload = `Node ${nodeId}: LDR = ${ldrRaw} ( ${ldrPercent}% )  [cnt=${counter}]`;\n\n// Clone for chart\nlet chartMsg = RED.util.cloneMessage(msg);\nchartMsg.topic   = `Node ${nodeId}`;\nchartMsg.payload = ldrPercent;   // chart LDR percent\n\nreturn [msg, chartMsg];",
    "outputs": 2,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 80,
    "wires": [
      [
        "ui-text-espnow"
      ],
      [
        "ui-chart-ldr"
      ]
    ]
  },
  {
    "id": "ui-text-espnow",
    "type": "ui_text",
    "z": "tab-espnow",
    "group": "ui-group-espnow",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Latest LDR Reading",
    "label": "Latest",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 780,
    "y": 60,
    "wires": []
  },
  {
    "id": "ui-chart-ldr",
    "type": "ui_chart",
    "z": "tab-espnow",
    "name": "LDR Percent Chart",
    "group": "ui-group-espnow",
    "order": 2,
    "width": "6",
    "height": "4",
    "label": "LDR Level (%)",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "No data yet",
    "dot": false,
    "ymin": "0",
    "ymax": "100",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c"
    ],
    "useOldStyle": false,
    "x": 800,
    "y": 110,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "debug-raw",
    "type": "debug",
    "z": "tab-espnow",
    "name": "Raw MQTT",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 330,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug-parsed",
    "type": "debug",
    "z": "tab-espnow",
    "name": "Parsed JSON",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 140,
    "wires": []
  }
]
